body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Text / Gray 900, rgba(24, 25, 31, 1));
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav a span{
    font-weight: 500;
}

.auth-buttons{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.login-btn{
    color: rgba(76, 175, 79, 1);
}

.signup-btn{
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    background: rgba(76, 175, 79, 1);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-buttons a{
    text-decoration: none;
}

.hero{
    padding: 96px 0px 40px 0px;
}

.hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image img {
    max-width: 391px;
    width: 100%;
    height: auto;
}

.hero-image {
    margin-right: 40px;
}


.hero-content{
    max-width: 616px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-content h1{
    font-family: 'Inter', sans-serif;
    color: rgba(77, 77, 77, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
}

.hero-content span{
    color: rgba(76, 175, 79, 1);
}

.hero-content p{
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.hero-content h1, .hero-content p{
    margin: 0;
}

.hero-btn{
    align-self: flex-start;
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 32px;
    border-radius: 4px;

    background: rgba(76, 175, 79, 1);
    color: #fff;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;

    text-decoration: none;
}

.hero-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
}

.hero-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(76, 175, 79, 1);
    opacity: 0.3;
}

.hero-dots .active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(76, 175, 79, 1);
}

.hero-dots :hover {
    cursor: pointer;
}

.clients-section .container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.client-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clients h1{
    color: rgba(77, 77, 77, 1);
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
}

.clients p{
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.clients h1, .clients p{
    margin: 0;
}

.client-logos img:hover {
    cursor: pointer;
}

.cards-section .container {
    display: block;
    padding-top: 40px;
}

.cards-header {
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
}

.cards-header h2 {
    color: rgba(77, 77, 77, 1);
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.cards-header p {
    color: rgba(113, 113, 113, 1);
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 40px;
}

.card {
    max-width: 299px;
    background: #ffffff;
    padding: 32px 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
    background: rgba(255, 255, 255, 1);
}

.card img {
    margin-bottom: 16px;
}

.card h3 {
    margin: 0 0 8px;
    color:  rgba(77, 77, 77, 1);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.card p {
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 20px;
}

.cards-grid{
    padding-left: 80px;
}

.unlock .container{
    display: flex;
    justify-content: start;
    flex-direction: row;
    justify-content: left;
    padding-top: 25px;
}

.unlock-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 592px;
    gap: 10px;
}

.unlock-content h2 , .unlock-content p{
    margin: 0;
}

.unlock-content h2{
    color: rgba(77, 77, 77, 1);
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
}
.unlock-content p{
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 16px;
}

.image-unlock img{
    max-width: 442px;
    height: auto;
    padding-right: 20px;
}

.unlock-content .unlock-btn{
    align-self: flex-start;
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 32px;
    border-radius: 4px;

    background: rgba(76, 175, 79, 1);
    color: #fff;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;

    text-decoration: none;
}

.achivment {
    background: #F5F7FA;
    padding: 64px 0;
}

.ach-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ach-text {
    max-width: 540px;
}

.ach-text h2 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #4D4D4D;
}

.ach-text h2 span {
    color: #4CAF4F;
}

.ach-text p {
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    padding-right: 10px;
}

.ach-count {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 48px;
    max-width: 540px;
}

.ach-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.ach-item img {
    width: 48px;
    height: 48px;
}

.ach-item h3 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #4D4D4D;
}

.ach-item p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}

.btn-primary {
    font-family: 'Inter', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
    background: #4caf4f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.feature-section {
    background-color: #ffffff;
    padding: 64px 0;
}

.feature-wrapper {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 50px; 
}

.feature-image img {
    max-width: 100%;
    height: auto;
    display: block; 
}

.feature-image {
    flex: 0 0 40%; 
}

.feature-content {
    flex: 1; 
    max-width: 600px;
}

.feature-content h2 {
color: rgba(77, 77, 77, 1);

    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    margin-bottom: 16px;
}

.feature-content p {
    color: rgba(113, 113, 113, 1);

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.testimonial-section {
    background-color: #F5F7FA; 
    padding: 64px 0;
}

.testimonial-wrapper {
    display: flex;
    align-items: flex-start; 
    gap: 64px;
}

.testimonial-image img {
    width: 326px; 
    height: 326px;
    object-fit: cover;
    border-radius: 8px;
}

.testimonial-content {
    flex: 1;
    padding-top: 10px; 
}

.testimonial-text {
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.testimonial-name {
    color: rgba(76, 175, 79, 1);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.testimonial-role {
    color: rgba(137, 147, 158, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

.testimonial-logos {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px;
}

.testimonial-logos img {
    height: 24px; 
    width: auto;
}

.meet-link {
    color: rgba(76, 175, 79, 1);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.community-section {
    padding: 48px 0 96px 0;
    background-color: #ffffff;
}

.community-header {
    text-align: center;
    max-width: 600px;
    margin-bottom: 48px;
}

.community-header h2 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #4D4D4D;
    margin-bottom: 16px;
}

.community-header p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #717171;
    line-height: 24px;
}


.community-grid {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
}


.community-card {
    flex: 1;
    min-width: 280px;
    position: relative;
}

.card-image img {
    width: 100%;
    height: 286px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}


.card-content {
    background: #F5F7FA;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    
    width: 85%;
    margin: 0 auto;
    margin-top: -60px; 
    position: relative;
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
}

.card-content h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #717171;
    margin: 0 0 16px 0;
    line-height: 28px;
    font-weight: 600;
}


.read-more {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #4CAF4F;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}


.cta-section {
    padding: 64px 0;
    background-color: #F5F7FA;
}

.centered-text {
    text-align: center;
}

.cta-section h2 {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: #263238;
    margin: 0 0 32px 0;
    line-height: 76px;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
    background: #4caf4f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}


.site-footer {
    background-color:rgba(38, 50, 56, 1); 
    padding: 64px 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 30px;
}


.footer-col {
    display: flex;
    flex-direction: column;
}


.brand-col {
    max-width: 350px;
    flex: 1.2;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.logo-text {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.copyright {
    font-size: 14px;
    line-height: 24px;
    color: #F5F7FA;
    margin-bottom: 40px;
    opacity: 0.8; 
}


.social-links {
    display: flex;
    gap: 16px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
    text-decoration: none;
}


.links-col {
    flex: 1;
}

.links-col h4, 
.subscribe-col h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 24px 0;
    color: #fff;
}

.links-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-col li {
    margin-bottom: 12px;
}

.links-col a {
    color: #F5F7FA;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
}


.subscribe-col {
    flex: 1.2;
}

.subscribe-form {
    position: relative;
    max-width: 255px;
}

.subscribe-form input {
    width: 100%;
    padding: 10px 40px 10px 16px; 
    border-radius: 8px;
    border: none;
    background: #3c464c; 
    color: #fff;
    font-size: 14px;
    height: 40px;
    box-sizing: border-box; 
    outline: none;
}

.subscribe-form input::placeholder {
    color: #D9DBE1;
}

.subscribe-form button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}