body{
    background-color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Text / Gray 900, rgba(24, 25, 31, 1));
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav a span{
    font-weight: 500;
}

.auth-buttons{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.login-btn{
    color: rgba(76, 175, 79, 1);
}

.signup-btn{
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    background: rgba(76, 175, 79, 1);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-buttons a{
    text-decoration: none;
}

.hero{
    padding: 96px 0px 40px 0px;
}

.hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image img {
    max-width: 391px;
    width: 100%;
    height: auto;
}

.hero-image {
    margin-right: 40px;
}


.hero-content{
    max-width: 616px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-content h1{
    font-family: 'Inter', sans-serif;
    color: rgba(77, 77, 77, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
}

.hero-content span{
    color: rgba(76, 175, 79, 1);
}

.hero-content p{
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.hero-content h1, .hero-content p{
    margin: 0;
}

.hero-btn{
    align-self: flex-start;
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 32px;
    border-radius: 4px;

    background: rgba(76, 175, 79, 1);
    color: #fff;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;

    text-decoration: none;
}

.hero-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
}

.hero-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(76, 175, 79, 1);
    opacity: 0.3;
}

.hero-dots .active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(76, 175, 79, 1);
}

.hero-dots :hover {
    cursor: pointer;
}

.clients-section .container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.client-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clients h1{
    color: rgba(77, 77, 77, 1);
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
}

.clients p{
    color: rgba(113, 113, 113, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.clients h1, .clients p{
    margin: 0;
}

.client-logos img:hover {
    cursor: pointer;
}

.cards-section {
    padding: 64px 0;
}

.cards-section .container {
    display: block; /* ❗ ВАЖНО */
}

.cards-header {
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
}

.cards-header h2 {
    margin: 0;
}

.cards-header p {
    margin-top: 8px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 40px;
}

.card {
    background: #ffffff;
    padding: 32px 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.card img {
    margin-bottom: 16px;
}

.card h3 {
    margin: 0 0 8px;
}

.card p {
    margin: 0;
}

