body{
    background-color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Text / Gray 900, rgba(24, 25, 31, 1));
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav a span{
    font-weight: 500;
}

.auth-buttons{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.login-btn{
    color: rgba(76, 175, 79, 1);
}

.signup-btn{
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    background: rgba(76, 175, 79, 1);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-buttons a{
    text-decoration: none;
}



